@import "tailwindcss";

@theme {
  --color-primary-orange: #ea580c;
  --color-secondary-orange: #c2410c;
  --color-deep-navy: #181b22;
  --color-charcoal-blue: #27292e;
  --color-cream-beige: #f0e8db;
  --color-dark-gray: #424242;
  --color-off-white: #fdfaf5;
}
