@import "tailwindcss";

@theme {
  --color-primary-orange: #ea580c;
  --color-secondary-orange: #c2410c;
  --color-deep-navy: #181b22;
  --color-charcoal-blue: #27292e;
  --color-cream-beige: #f0e8db;
  --color-dark-gray: #424242;
  --color-off-white: #fdfaf5;
  --color-brushed-gold: #ccba78;
  --color-copper: #b87333;
  --color-cerulean-frost: #6db5ca; /* Cerulean Frost [3] */
  --color-powder-blue: #b8d8e0; /* Powder Blue [7][11] */
  --color-milk-linen: #fcf5ef; /* Milk/Linen [8][16][20] */
  --color-light-orange: #ff7235; /* Light Orange [9][17] */
  --color-mustard-gold: #7f3800; /* Deep mustard-gold, warm and earthy */
  --color-rich-copper: #b45801; /* Rich, burnished copper orange */
  --color-vivid-tangerine: #df6706; /* Bright tangerine orange */
  --color-indigo-slate: #3d4857; /* Subdued indigo-slate blue */
  --color-platinum-gray: #a9aaaf; /* Pale, modern platinum gray */
  --color-cloud-white: #dadbdd; /* Soft, cloudy white-gray */
  /* --breakpoint-md: 976px; */
  --breakpoint-sm: 640px;
  --breakpoint-xs: 500px;
  --breakpoint-xxs: 375px;
  --text-heading: 36px;
  --text-heading-sm: 32px;
  --text-subheading: 24px;
  --text-xl: 20px;
  --text-body: 18px;
  --text-description: 16px;
  --text-small: 14px;
  --text-tiny: 12px;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
